<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>306962344877-sf8122i2bcjb7drsg7jl5j3b4lvcli1o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.306962344877-sf8122i2bcjb7drsg7jl5j3b4lvcli1o</string>
	<key>API_KEY</key>
	<string>AIzaSyA1jb10JWD0SxqlZ_L0Q8-Vwx1C4dmdg94</string>
	<key>GCM_SENDER_ID</key>
	<string>306962344877</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.karina.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-a2254</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-a2254.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306962344877:ios:04fd30ddde2bed371a4f24</string>
</dict>
</plist>